.button-add-detailed {
  background-color: rgb(250, 248, 234);
  border: 1px solid rgb(241, 211, 156);
  border-radius: 5px;
  height: 35px;
  margin-left: 5px;
}

.button-add-detailed:hover {
  background-color: rgb(231, 219, 202);
  border: 1px solid #7c3903;
  cursor: pointer;
}

.input-number {
  border: 1px solid #7c3903;
  border-radius: 5px;
  font-size: 14px;
  height: 22px;
  margin-left: 5px;
  padding-left: 10px;
  width: 40px;
}

.quantidade {
  color: #7c3903;
  font-size: 15px;
}
