.list {
  flex-flow: column wrap;
  justify-content: flex-end;
  margin-top: 10px;
  width: 90%;
}

.total {
  align-self: flex-end;
}

span {
  margin: 10px;
}

form {
  border: 1px solid rgb(212, 202, 216);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

label {
  flex-grow: 1;
}

.tabela-div {
  margin: 0 auto;
  width: 600px;
}

td{
  border: 1px solid rgb(212, 202, 216);
  border-radius: 5px;
  padding: 10px;
}
