.comment-box {
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
  width: 900px;
}

.comment {
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
  text-align: left;
  width: 90%;
}

h1 {
  margin: 5px;
}
