.specs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productContainer {
  display: flex;
  width: 90%;
}

.headerDetails {
  display: flex;
  justify-content: space-around;
}
