.texto-pesquisa {
  color: gray;
  font-size: 18px;
  text-align: center;
}

.texto-pesquisa-null {
  display: none;
}

.input {
  border: 1px solid #333;
  height: 30px;
  margin-top: 15px;
  width: 500px;
}

.product-sidebar {
  display: flex;
}

.searchbar {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

button {
  background-color: rgb(66, 157, 231);
  border-radius: 10px;
  color: white;
  height: 40px;
  width: 150px;
}
