.texto-pesquisa {
  color: rgb(67, 24, 73);
  font-size: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.texto-pesquisa-null {
  display: none;
}

.input {
  border: 1px solid #e3651b;
  height: 30px;
  margin-top: 15px;
  width: 700px;
}

.product-sidebar {
  display: flex;
}

.aside-categoria {
  padding-left: 20px;
}

.searchbar {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  justify-content: center;
  width: 200px;
}

button {
  background-color: white;
  border: 1px solid #e3651b;
  border-radius: 10px;
  color: #ea4d2a;
  height: 45px;
  margin-bottom: 5px;
  width: 170px;
}

button:hover {
  background-color: #e3651b;
  color: white;
  cursor: pointer;
}

.top-bar {
  background-color: rgb(248, 243, 240);
  border-bottom: 1px solid rgb(245, 227, 217);
  display: flex;
  padding-bottom: 30px;
  padding-top: 20px;
  width: 100%;
}

.cart-info {
  align-self: flex-end;
  background: #f38c23 8%;
  flex-grow: 1;
  height: 70px;
  margin: 20px;
}

.categories {
  flex-flow: column;
  margin-left: 30px;
}

h3 {
  color: rgb(67, 24, 73);
}

input {
  padding-left: 10px;
}
