.texto-pesquisa {
  color: gray;
  font-size: 18px;
  text-align: center;
}

.texto-pesquisa-null {
  display: none;
}

.input {
  border: 1px solid #333;
  height: 30px;
  margin-top: 15px;
  width: 500px;
}

.product-sidebar {
  display: flex;
}

.searchbar {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  justify-content: center;
  width: 600px;
}

button {
  background-color: rgb(66, 157, 231);
  border-radius: 10px;
  color: white;
  height: 40px;
  width: 150px;
}

.top-bar {
  display: flex;
}

.cart-info {
  align-self: flex-end;
  background: rgba(66, 157, 238, 0.92) 8%;
  flex-grow: 1;
  margin: 20px;
  width: 100px;
}

.categories {
  color: white;
  flex-flow: column;
  margin-left: 20px;
}

h3 {
  color: rgb(158, 158, 158);
  margin-left: 25px;
  text-align: center;
  width: 140px;
}

body {
  background-color: rgb(216, 216, 216);
}

input {
  padding-left: 10px;
}
